

/* google font roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

body{
    /* background-color: black; */
    font-family: roboto;
}

.ninety_five{
    max-width: 90%;
    margin: 0 auto;
}

.dis_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


/* header section */

.header{
    background-image: url(../srcs/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
}

/* navbar */
.nav{
    padding-top: 20px;
}
nav>h2{
    color: white;
    font-weight: 800;
    font-size: 2em;
    animation: animation  infinite ease-in 7s  ;
}
@keyframes animation {
    to{
        transform: rotate(360deg);
    }
}


nav>h2>span{
    color: #d906c9;
}
.nav_ul{
    list-style: none;
}
.nav_ul a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.nav_btn{
    background: linear-gradient( 90deg, yellow, purple, rgb(128, 0, 34) );
    background-color: purple;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.nav_btn a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
}
.line_bar{
    color: white;
    display: none;
}

/* banner section */

.hero_section{
    margin-top: 80px;
}

.hero_banner{
    position: relative;
    
}
.circle{
    position: absolute;
    top: 10%;
    left: 35%;
}
.mic{
    position: absolute;
    top: 40px;
    left: 46%;
    transform: translate(-10%, 30%);
}
.hero_btn{
    background: green;
    border: none;
    border-radius: 25px;
    padding: 10px 18px;
    
    position: absolute;
    left: 58%;

    animation: tip linear infinite 7s;
}
@keyframes tip {
    to{
        transform: rotate(360deg);
    }
}
.hero_btn a{
    color: white;
    text-decoration: none;
}

.banner_content{
   padding-top: 400px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
   line-height: 30px;
}
.banner_content>div>h2{
    font-size: 2.5em;
    padding-bottom: 10px;
}
.banner_btn1{
    background: linear-gradient( 90deg, yellow, purple, rgb(128, 0, 34) );
    background-color: purple;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.banner_btn1 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
}
.banner_btn{
    padding: 10px 25px;
    background: transparent;
    border: 1px solid green;
    border-radius: 20px;
    cursor: pointer;
}
.banner_btn a{
    text-decoration: none;
    color: green;
    font-weight: 600;
    font-size: 1.2em;
}

/* main section */

/* about the podcast section */
.main_section{
    background: #1a0a2d;
    padding-bottom: 50px;
}
.about_section{
    padding-top: 20px;
    
}
.about_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    color: white;

}
.about_card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    
}
.card>h2{
    color: #01ff87;
    font-size: 3em;
    font-weight: 700;
}
.card>p{
    text-transform: uppercase;
    color: white;
}

/* why choose techwave section */

.why_section{
    background: #230e3d;
    margin-top: 50px;
}
.choose_h1{
    color: white;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    padding: 50px 0;
}
.why_cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;  
}
.why_card1{
    background-color: #290e4c;
    padding: 20px;
    grid-column: span 2;
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: white;
    border: none;
    border-radius: 10px;
}

.why_card2{
    background-color: #290e4c;
    padding: 20px;
    grid-column: span 4;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: white;
    border: none;
    border-radius: 10px;
}
.why_card3{
    background-color: #290e4c;
    padding: 20px;
    grid-column: span 4;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: white;
    border: none;
    border-radius: 10px;
}
.why_card4{
    background-color: #290e4c;
    padding: 20px;
    grid-column: span 4;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: white;
    border: none;
    border-radius: 10px;
}
.why_card5{
    background-color: #290e4c;
    padding: 20px;
    grid-column: span 2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: white;
    border: none;
    border-radius: 10px;
}
.why_cards>div>p{
    color: rgb(172, 170, 170);
    font-size: 14px;
}